[user]
	name = Stephen Howells
	email = stephen@spaceshipoperator.io
[github]
	user = stephenhowells
[color]
	ui = true
[core]
	excludesfile = ~/.gitignore
[difftool]
	tool = Kaleidoscope
[merge]
	tool = Kaleidoscope
[pager]
	diff = diff-so-fancy | less --tabs=1,5 -RFX
	show = diff-so-fancy | less --tabs=1,5 -RFX
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[gpg]
	program = /usr/local/bin/krgpg
[commit]
	gpgSign = true
[tag]
	forceSignAnnotated = true
