<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AlwaysShowFileList</key>
	<false/>
	<key>ApplicationAppearanceMode</key>
	<integer>0</integer>
	<key>ApplicationAutoSaveState</key>
	<dict>
		<key>ApplicationBuildNumber</key>
		<string>15B64</string>
		<key>DisplayConfiguration</key>
		<string>displays([(0, 0), (1728, 1117)])</string>
		<key>OpenDocuments</key>
		<dict/>
		<key>OpenWindows</key>
		<array/>
		<key>UntitledWindowsState</key>
		<dict/>
		<key>com.barebones.DocumentFormatVersion</key>
		<integer>2</integer>
		<key>com.barebones.DocumentType</key>
		<string>ApplicationState</string>
	</dict>
	<key>ApplicationDidStartClean</key>
	<true/>
	<key>AutoShowFileList</key>
	<true/>
	<key>BBEditSerialNumber:15.0</key>
	<string>BEE150-2KY3J-HEPGB-HRNPK</string>
	<key>BBEditorFont</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGpCwwTHR4fICEnVSRudWxs0w0O
	DxARElYkY2xhc3NfEBdOU0ZvbnREZXNjcmlwdG9yT3B0aW9uc18QGk5TRm9udERlc2Ny
	aXB0b3JBdHRyaWJ1dGVzgAgSgAAAAIAC0xQVDRYZHFdOUy5rZXlzWk5TLm9iamVjdHOi
	FxiAA4AEohobgAWABoAHXxATTlNGb250U2l6ZUF0dHJpYnV0ZV8QE05TRm9udE5hbWVB
	dHRyaWJ1dGUjQCgAAAAAAABeU0ZNb25vLVJlZ3VsYXLSIiMkJVokY2xhc3NuYW1lWCRj
	bGFzc2VzXE5TRGljdGlvbmFyeaIkJlhOU09iamVjdNIiIygpXxAQTlNGb250RGVzY3Jp
	cHRvcqIqJl8QEE5TRm9udERlc2NyaXB0b3IACAARABoAJAApADIANwBJAEwAUQBTAF0A
	YwBqAHEAiwCoAKoArwCxALgAwADLAM4A0ADSANUA1wDZANsA8QEHARABHwEkAS8BOAFF
	AUgBUQFWAWkBbAAAAAAAAAIBAAAAAAAAACsAAAAAAAAAAAAAAAAAAAF/
	</data>
	<key>BBPreferencesSelectedModuleIdentifier</key>
	<string>BBTextFilesPreferences</string>
	<key>ChatAPIIdentifier</key>
	<string>chatgpt</string>
	<key>ChatGPTModel</key>
	<string>gpt-4o</string>
	<key>ColorSchemeFormatVersion</key>
	<integer>4</integer>
	<key>CopiedPreferencesToNewKeys_v1</key>
	<true/>
	<key>CopiedPreferencesToNewKeys_v2</key>
	<true/>
	<key>CopiedPreferencesToNewKeys_v3</key>
	<true/>
	<key>CopiedPreferencesToNewKeys_v4</key>
	<true/>
	<key>DidMigrateTextWranglerIconSetting</key>
	<true/>
	<key>EditingWindowGuideContrast</key>
	<real>1.3662109375</real>
	<key>EditingWindowShowPageGuide</key>
	<false/>
	<key>EditorCheckSpellingAsYouType</key>
	<false/>
	<key>EditorFontSettingOverridesSavedState</key>
	<false/>
	<key>EditorSoftWrap</key>
	<true/>
	<key>ExtraSpaceInTextViews</key>
	<integer>3</integer>
	<key>HiddenCommands</key>
	<array>
		<integer>22005</integer>
		<integer>22007</integer>
		<integer>22008</integer>
		<integer>22015</integer>
		<integer>22016</integer>
		<integer>22012</integer>
		<integer>24200</integer>
		<integer>24201</integer>
		<integer>24202</integer>
		<integer>24203</integer>
		<integer>24204</integer>
		<integer>24205</integer>
		<integer>24206</integer>
		<integer>24207</integer>
		<integer>24208</integer>
		<integer>24209</integer>
		<integer>24210</integer>
		<integer>24211</integer>
		<integer>24212</integer>
		<integer>24216</integer>
		<integer>24213</integer>
		<integer>24214</integer>
		<integer>24215</integer>
		<integer>24217</integer>
		<integer>24218</integer>
		<integer>24219</integer>
		<integer>24222</integer>
		<integer>23021</integer>
		<integer>23032</integer>
		<integer>23017</integer>
		<integer>23000</integer>
		<integer>23018</integer>
		<integer>23026</integer>
		<integer>23022</integer>
		<integer>23023</integer>
		<integer>23024</integer>
		<integer>23004</integer>
		<integer>23025</integer>
		<integer>23006</integer>
		<integer>23007</integer>
		<integer>23008</integer>
		<integer>23009</integer>
		<integer>23012</integer>
		<integer>23010</integer>
		<integer>23011</integer>
		<integer>23031</integer>
		<integer>23030</integer>
		<integer>23029</integer>
		<integer>23028</integer>
		<integer>23027</integer>
		<integer>23013</integer>
		<integer>23015</integer>
		<integer>23020</integer>
		<integer>1101</integer>
		<integer>1102</integer>
		<integer>1105</integer>
		<integer>5802</integer>
		<integer>3400</integer>
		<integer>239</integer>
		<integer>225</integer>
		<integer>226</integer>
		<integer>5803</integer>
	</array>
	<key>HiddenLanguageCodes</key>
	<array/>
	<key>HiddenMenus</key>
	<array>
		<integer>2200</integer>
		<integer>2105</integer>
		<integer>2106</integer>
		<integer>1136</integer>
		<integer>1137</integer>
	</array>
	<key>InfoPanelSelectedTab</key>
	<string>textStatistics</string>
	<key>KeepHistoricalBackups</key>
	<false/>
	<key>LastLaunchOSVersion</key>
	<string>Version 15.5 (Build 24F74)</string>
	<key>ListDisplayFont</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAChC1UkbnVsbAgRGiQpMjdJTFFT
	VQAAAAAAAAEBAAAAAAAAAAwAAAAAAAAAAAAAAAAAAABb
	</data>
	<key>MakeBackup</key>
	<false/>
	<key>NSAutomaticCapitalizationEnabled</key>
	<false/>
	<key>NSAutomaticDashSubstitutionEnabled</key>
	<false/>
	<key>NSAutomaticPeriodSubstitutionEnabled</key>
	<false/>
	<key>NSAutomaticQuoteSubstitutionEnabled</key>
	<false/>
	<key>NSAutomaticSpellingCorrectionEnabled</key>
	<false/>
	<key>NSAutomaticTextCompletionEnabled</key>
	<false/>
	<key>NSFontPanelAttributes</key>
	<string>1, 4</string>
	<key>NSNavPanelExpandedSizeForOpenMode</key>
	<string>{800, 448}</string>
	<key>NSOSPLastRootDirectory</key>
	<data>
	Ym9va5wCAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAmAEA
	AAQAAAADAwAAAAQAAAAAAAABBgAADAAAAAEBAABNYWNpbnRvc2ggSEQIAAAAAAQAAEHG
	45qFAAAAGAAAAAECAAAKAAAAAAAAAB8CAAAAAAAAHwIAAAAAAAAAAAAAAQUAAAgAAAAB
	CQAAZmlsZTovLy8IAAAABAMAAAAgRYzQAQAAJAAAAAEBAAA3MTc5NUQzRS0wRjIzLTQ4
	OTgtOERGQy0yRkFBODYzNkUyNzgYAAAAAQIAAIEAAAABAAAA7xMAAAEAAADvEwAAAQAA
	AAEAAAABAQAALwAAALQAAAABAgAAZG5pYgAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAB0A
	AAAAAAAAHAAAAAAAAABmaWxlOi8vL1N5c3RlbS9Wb2x1bWVzL0RhdGEvNDlcsXzwxkFc
	AAAAAAAAAGRuaWIAAAAACQAAAAAAAAAAAAAAAAAAAAAAAABrc2RoHwAAAAAAAABjb20u
	YXBwbGUuaW9raXQuSU9TdG9yYWdlRmFtaWx5DQAAAAAAAABJbnRlcm5hbC5pY25zzAAA
	AP7///8BAAAAAAAAABAAAAAEEAAAEAAAAAAAAAAQEAAAPAAAAAAAAAAgEAAAGAAAAAAA
	AABAEAAALAAAAAAAAAACIAAA0AAAAAAAAAAFIAAAZAAAAAAAAAAQIAAAGAAAAAAAAAAR
	IAAAhAAAAAAAAAASIAAAdAAAAAAAAAATIAAALAAAAAAAAAAgIAAAsAAAAAAAAAAwIAAA
	XAAAAAAAAAAB0AAAXAAAAAAAAAAQ0AAABAAAAAAAAAAX8AAAGAAAAAAAAAAi8AAA3AAA
	AAAAAAA=
	</data>
	<key>NSSplitView Subview Frames NSColorPanelSplitView</key>
	<array>
		<string>0.000000, 0.000000, 224.000000, 258.000000, NO, NO</string>
		<string>0.000000, 259.000000, 224.000000, 48.000000, NO, NO</string>
	</array>
	<key>NSTableView Columns v3 CustomLanguageExtensionMappingsList</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVVBcnJheYABrgsMEx4fICEiIyQqNDU2VSRu
	dWxs0g0ODxJaTlMub2JqZWN0c1YkY2xhc3OiEBGAAoAKgA3TFA0OFRkdV05TLmtleXOj
	FhcYgAOABIAFoxobHIAGgAeACIAJWklkZW50aWZpZXJVV2lkdGhWSGlkZGVuVnN1ZmZp
	eCNAYQAAAAAAAAjSJSYnKFokY2xhc3NuYW1lWCRjbGFzc2VzXE5TRGljdGlvbmFyeaIn
	KVhOU09iamVjdNMUDQ4rLx2jFhcYgAOABIAFozAxHIALgAyACIAJWGxhbmd1YWdlI0Bv
	AAAAAAAA0iUmNzheTlNNdXRhYmxlQXJyYXmjNzkpV05TQXJyYXkACAARABoAJAApADIA
	NwBJAEwAUgBUAGMAaQBuAHkAgACDAIUAhwCJAJAAmACcAJ4AoACiAKYAqACqAKwArgC5
	AL8AxgDNANYA1wDcAOcA8AD9AQABCQEQARQBFgEYARoBHgEgASIBJAEmAS8BOAE9AUwB
	UAAAAAAAAAIBAAAAAAAAADoAAAAAAAAAAAAAAAAAAAFY
	</data>
	<key>NSTableView Columns v3 CustomLanguageSettingsList</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVVBcnJheYABrgsMEx4fICEiIyQqNDU2VSRu
	dWxs0g0ODxJaTlMub2JqZWN0c1YkY2xhc3OiEBGAAoAKgA3TFA0OFRkdV05TLmtleXOj
	FhcYgAOABIAFoxobHIAGgAeACIAJWklkZW50aWZpZXJVV2lkdGhWSGlkZGVuXGxhbmd1
	YWdlTmFtZSNAY8AAAAAAAAjSJSYnKFokY2xhc3NuYW1lWCRjbGFzc2VzXE5TRGljdGlv
	bmFyeaInKVhOU09iamVjdNMUDQ4rLx2jFhcYgAOABIAFozAxHIALgAyACIAJXxAgQXV0
	b21hdGljVGFibGVDb2x1bW5JZGVudGlmaWVyLjEjQGxAAAAAAADSJSY3OF5OU011dGFi
	bGVBcnJheaM3OSlXTlNBcnJheQAIABEAGgAkACkAMgA3AEkATABSAFQAYwBpAG4AeQCA
	AIMAhQCHAIkAkACYAJwAngCgAKIApgCoAKoArACuALkAvwDGANMA3ADdAOIA7QD2AQMB
	BgEPARYBGgEcAR4BIAEkASYBKAEqASwBTwFYAV0BbAFwAAAAAAAAAgEAAAAAAAAAOgAA
	AAAAAAAAAAAAAAAAAXg=
	</data>
	<key>NSTableView Sort Ordering v2 CustomLanguageExtensionMappingsList</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVVBcnJheYABqQsMEhscHR4fJVUkbnVsbNIN
	Dg8RWk5TLm9iamVjdHNWJGNsYXNzoRCAAoAI0xMNDhQXGldOUy5rZXlzohUWgAOABKIY
	GYAFgAaAB1pJZGVudGlmaWVyWUFzY2VuZGluZ1ZzdWZmaXgJ0iAhIiNaJGNsYXNzbmFt
	ZVgkY2xhc3Nlc1xOU0RpY3Rpb25hcnmiIiRYTlNPYmplY3TSICEmJ15OU011dGFibGVB
	cnJheaMmKCRXTlNBcnJheQAIABEAGgAkACkAMgA3AEkATABSAFQAXgBkAGkAdAB7AH0A
	fwCBAIgAkACTAJUAlwCaAJwAngCgAKsAtQC8AL0AwgDNANYA4wDmAO8A9AEDAQcAAAAA
	AAACAQAAAAAAAAApAAAAAAAAAAAAAAAAAAABDw==
	</data>
	<key>NSTableView Sort Ordering v2 CustomLanguageSettingsList</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVVBcnJheYABqQsMEhscHR4fJVUkbnVsbNIN
	Dg8RWk5TLm9iamVjdHNWJGNsYXNzoRCAAoAI0xMNDhQXGldOUy5rZXlzohUWgAOABKIY
	GYAFgAaAB1pJZGVudGlmaWVyWUFzY2VuZGluZ1xsYW5ndWFnZU5hbWUJ0iAhIiNaJGNs
	YXNzbmFtZVgkY2xhc3Nlc1xOU0RpY3Rpb25hcnmiIiRYTlNPYmplY3TSICEmJ15OU011
	dGFibGVBcnJheaMmKCRXTlNBcnJheQAIABEAGgAkACkAMgA3AEkATABSAFQAXgBkAGkA
	dAB7AH0AfwCBAIgAkACTAJUAlwCaAJwAngCgAKsAtQDCAMMAyADTANwA6QDsAPUA+gEJ
	AQ0AAAAAAAACAQAAAAAAAAApAAAAAAAAAAAAAAAAAAABFQ==
	</data>
	<key>NSTableView Supports v2 CustomLanguageExtensionMappingsList</key>
	<true/>
	<key>NSTableView Supports v2 CustomLanguageSettingsList</key>
	<true/>
	<key>NSToolbar Configuration com.apple.NSColorPanel</key>
	<dict>
		<key>TB Is Shown</key>
		<integer>1</integer>
	</dict>
	<key>NSWindow Frame BBLanguageListPanel</key>
	<string>282 305 636 278 0 0 1728 1079 </string>
	<key>NSWindow Frame BBPreferences</key>
	<string>961 244 685 607 0 0 1728 1079 </string>
	<key>NSWindow Frame NSColorPanel</key>
	<string>0 81 224 278 0 0 1728 1079 </string>
	<key>NSWindow Frame NSFontPanel</key>
	<string>1213 105 445 235 0 0 1728 1079 </string>
	<key>NSWindow Frame NSNavPanelAutosaveName</key>
	<string>200 206 800 448 0 0 1728 1079 </string>
	<key>NSWindow Frame StartupProgressPanel</key>
	<string>680 493 369 109 0 0 1728 1079 </string>
	<key>NavbarShowCounterpartButton</key>
	<false/>
	<key>NavbarShowDocumentNavigation</key>
	<false/>
	<key>NavbarShowFunctionMenu</key>
	<false/>
	<key>OptionUpAndDownArrowMoveByParagraphs</key>
	<true/>
	<key>PinchZoomChangesMagnification</key>
	<true/>
	<key>PreferencesSnapshotDate</key>
	<date>2025-05-24T22:47:52Z</date>
	<key>ReadTextEncodingFallbacks</key>
	<array>
		<integer>0</integer>
	</array>
	<key>RecentItemsData</key>
	<dict>
		<key>Text</key>
		<array>
			<dict>
				<key>Date</key>
				<date>2025-05-24T18:11:40Z</date>
				<key>DocumentClass</key>
				<string>Text</string>
				<key>Locator</key>
				<dict>
					<key>BookmarkData</key>
					<data>
					Ym9va7gCAAAAAAQQMAAAAGHLf8I0vkdVdmgy
					DaAlBXCKcGLqJiqlRW2AzczxR9IXtAEAAAQA
					AAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAH
					AAAAAQEAAHN0ZXBoZW4ACQAAAAEBAABEb3du
					bG9hZHMAAAAHAAAAAQEAAGZvby50eHQAEAAA
					AAEGAAAQAAAAIAAAADAAAABEAAAACAAAAAQD
					AADOUAAAAAAAAAgAAAAEAwAAc3wAAAAAAAAI
					AAAABAMAAKZ8AAAAAAAACAAAAAQDAAAfLx0A
					AAAAABAAAAABBgAAbAAAAHwAAACMAAAAnAAA
					AAgAAAAABAAAQcbxIanuPF4YAAAAAQIAAAEA
					AAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAAE
					AwAAAgAAAAAAAAAEAAAAAwMAAPUBAAAIAAAA
					AQkAAGZpbGU6Ly8vDAAAAAEBAABNYWNpbnRv
					c2ggSEQIAAAABAMAAAAgRYzQAQAACAAAAAAE
					AABBxuOahQAAACQAAAABAQAANzE3OTVEM0Ut
					MEYyMy00ODk4LThERkMtMkZBQTg2MzZFMjc4
					GAAAAAECAACBAAAAAQAAAO8TAAABAAAAAAAA
					AAAAAAABAAAAAQEAAC8AAAAAAAAAAQUAAMwA
					AAD+////AQAAAAAAAAAQAAAABBAAAFQAAAAA
					AAAABRAAAKwAAAAAAAAAEBAAANQAAAAAAAAA
					QBAAAMQAAAAAAAAAAiAAAKABAAAAAAAABSAA
					ABABAAAAAAAAECAAACABAAAAAAAAESAAAFQB
					AAAAAAAAEiAAADQBAAAAAAAAEyAAAEQBAAAA
					AAAAICAAAIABAAAAAAAAMCAAAKwBAAAAAAAA
					AcAAAPQAAAAAAAAAEcAAACAAAAAAAAAAEsAA
					AAQBAAAAAAAAENAAAAQAAAAAAAAA
					</data>
					<key>FileURL</key>
					<string>file:///Users/stephen/Downloads/foo.txt</string>
					<key>HasSecurityScope</key>
					<true/>
					<key>TypeID</key>
					<string>_CFileLocator</string>
					<key>Version</key>
					<integer>1</integer>
				</dict>
				<key>Name</key>
				<string>foo.txt</string>
				<key>URL</key>
				<string>file:///Users/stephen/Downloads/foo.txt</string>
			</dict>
			<dict>
				<key>Date</key>
				<date>2025-05-24T18:11:26Z</date>
				<key>DocumentClass</key>
				<string>Text</string>
				<key>Locator</key>
				<dict>
					<key>BookmarkData</key>
					<data>
					Ym9va7wCAAAAAAQQMAAAAM+WJL+wpp+bsASF
					7AOjsoC3I10LkNJcnAfScG4vU2m4uAEAAAQA
					AAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAH
					AAAAAQEAAHN0ZXBoZW4ACQAAAAEBAABEb3du
					bG9hZHMAAAAKAAAAAQEAAHJlc3VsdC5jc3YA
					ABAAAAABBgAAEAAAACAAAAAwAAAARAAAAAgA
					AAAEAwAAzlAAAAAAAAAIAAAABAMAAHN8AAAA
					AAAACAAAAAQDAACmfAAAAAAAAAgAAAAEAwAA
					8s8GAAAAAAAQAAAAAQYAAHAAAACAAAAAkAAA
					AKAAAAAIAAAAAAQAAEHGW3mUn0f7GAAAAAEC
					AAABAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAI
					AAAABAMAAAIAAAAAAAAABAAAAAMDAAD1AQAA
					CAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFj
					aW50b3NoIEhECAAAAAQDAAAAIEWM0AEAAAgA
					AAAABAAAQcbjmoUAAAAkAAAAAQEAADcxNzk1
					RDNFLTBGMjMtNDg5OC04REZDLTJGQUE4NjM2
					RTI3OBgAAAABAgAAgQAAAAEAAADvEwAAAQAA
					AAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEF
					AADMAAAA/v///wEAAAAAAAAAEAAAAAQQAABY
					AAAAAAAAAAUQAACwAAAAAAAAABAQAADYAAAA
					AAAAAEAQAADIAAAAAAAAAAIgAACkAQAAAAAA
					AAUgAAAUAQAAAAAAABAgAAAkAQAAAAAAABEg
					AABYAQAAAAAAABIgAAA4AQAAAAAAABMgAABI
					AQAAAAAAACAgAACEAQAAAAAAADAgAACwAQAA
					AAAAAAHAAAD4AAAAAAAAABHAAAAgAAAAAAAA
					ABLAAAAIAQAAAAAAABDQAAAEAAAAAAAAAA==
					</data>
					<key>FileURL</key>
					<string>file:///Users/stephen/Downloads/result.csv</string>
					<key>HasSecurityScope</key>
					<true/>
					<key>TypeID</key>
					<string>_CFileLocator</string>
					<key>Version</key>
					<integer>1</integer>
				</dict>
				<key>Name</key>
				<string>result.csv</string>
				<key>URL</key>
				<string>file:///Users/stephen/Downloads/result.csv</string>
			</dict>
			<dict>
				<key>Date</key>
				<date>2025-05-24T18:06:56Z</date>
				<key>DocumentClass</key>
				<string>Text</string>
				<key>Locator</key>
				<dict>
					<key>BookmarkData</key>
					<data>
					Ym9va/QCAAAAAAQQMAAAADAVh6aYc0wDAFZc
					UAgiH58K5ai20pAlkBdc17mrdAPI5AEAAAQA
					AAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAH
					AAAAAQEAAHN0ZXBoZW4ACQAAAAEBAAAuZG90
					ZmlsZXMAAAAIAAAAAQEAAEJyZXdmaWxlEAAA
					AAEGAAAQAAAAIAAAADAAAABEAAAACAAAAAQD
					AADOUAAAAAAAAAgAAAAEAwAAc3wAAAAAAAAI
					AAAABAMAAAa5BAAAAAAACAAAAAQDAAB4uQQA
					AAAAABAAAAABBgAAbAAAAHwAAACMAAAAnAAA
					AAgAAAAABAAAQcbiAu1ExRsYAAAAAQIAAAEA
					AAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAAE
					AwAAAgAAAAAAAAAEAAAAAwMAAPUBAAAIAAAA
					AQkAAGZpbGU6Ly8vDAAAAAEBAABNYWNpbnRv
					c2ggSEQIAAAABAMAAAAgRYzQAQAACAAAAAAE
					AABBxuOahQAAACQAAAABAQAANzE3OTVEM0Ut
					MEYyMy00ODk4LThERkMtMkZBQTg2MzZFMjc4
					GAAAAAECAACBAAAAAQAAAO8TAAABAAAAAAAA
					AAAAAAABAAAAAQEAAC8AAAAAAAAAAQUAABoA
					AAABAQAATlNVUkxEb2N1bWVudElkZW50aWZp
					ZXJLZXkAAAQAAAADAwAAUW4AANgAAAD+////
					AQAAAAAAAAARAAAABBAAAFQAAAAAAAAABRAA
					AKwAAAAAAAAAEBAAANQAAAAAAAAAQBAAAMQA
					AAAAAAAAAiAAAKABAAAAAAAABSAAABABAAAA
					AAAAECAAACABAAAAAAAAESAAAFQBAAAAAAAA
					EiAAADQBAAAAAAAAEyAAAEQBAAAAAAAAICAA
					AIABAAAAAAAAMCAAAKwBAAAAAAAAAcAAAPQA
					AAAAAAAAEcAAACAAAAAAAAAAEsAAAAQBAAAA
					AAAAENAAAAQAAAAAAAAAtAEAgNgBAAAAAAAA
					</data>
					<key>FileURL</key>
					<string>file:///Users/stephen/.dotfiles/Brewfile</string>
					<key>HasSecurityScope</key>
					<true/>
					<key>TypeID</key>
					<string>_CFileLocator</string>
					<key>Version</key>
					<integer>1</integer>
				</dict>
				<key>Name</key>
				<string>Brewfile</string>
				<key>URL</key>
				<string>file:///Users/stephen/.dotfiles/Brewfile</string>
			</dict>
			<dict>
				<key>Date</key>
				<date>2025-05-23T22:32:32Z</date>
				<key>DocumentClass</key>
				<string>Text</string>
				<key>Locator</key>
				<dict>
					<key>BookmarkData</key>
					<data>
					Ym9va/QDAAAAAAQQMAAAAEw/7Rk2WuREwx3+
					q7UJ2Yn5bBPfmSzPH2DbjilT9BErCAMAAAQA
					AAADAwAAAAgAKAcAAAABAQAAVm9sdW1lcwAH
					AAAAAQEAAEJhY2t1cHMABAAAAAEBAAAyMDI1
					CgAAAAEBAABjdXJzb3IudHh0AAAQAAAAAQYA
					ABAAAAAgAAAAMAAAADwAAAAIAAAABAMAANhQ
					AAAAAAAACAAAAAQDAAACAAAAAAAAAAgAAAAE
					AwAANwcQAAAAAAAIAAAABAMAAAEMEgAAAAAA
					EAAAAAEGAABoAAAAeAAAAIgAAACYAAAACAAA
					AAAEAABBxvB0EI+O9hgAAAABAgAAAQAAAAAA
					AAAPAAAAAAAAAAAAAAAAAAAAGAAAAAEJAABm
					aWxlOi8vL1ZvbHVtZXMvQmFja3Vwcy8IAAAA
					BAMAAADgphZdAAAACAAAAAAEAABBwnukdUrh
					NSQAAAABAQAANTgxNTVERjEtREU0Qy00MTI2
					LTgwQzEtQjQ4OUNBRTM1NTA4GAAAAAECAAAB
					AQAAAQAAAO8TAAABAAAAAAAAAAAAAAAQAAAA
					AQEAAC9Wb2x1bWVzL0JhY2t1cHMIAAAAAQkA
					AGZpbGU6Ly8vDAAAAAEBAABNYWNpbnRvc2gg
					SEQIAAAABAMAAAAgRYzQAQAACAAAAAAEAABB
					xuOahQAAACQAAAABAQAANzE3OTVEM0UtMEYy
					My00ODk4LThERkMtMkZBQTg2MzZFMjc4GAAA
					AAECAACBAAAAAQAAAO8TAAABAAAAAAAAAAAA
					AAABAAAAAQEAAC8AAABgAAAA/v///wDwAAAA
					AAAABwAAAAIgAAAkAgAAAAAAAAUgAACUAQAA
					AAAAABAgAACkAQAAAAAAABEgAADYAQAAAAAA
					ABIgAAC4AQAAAAAAABMgAADIAQAAAAAAACAg
					AAAEAgAAAAAAAAQAAAADAwAAAPAAAAQAAAAD
					AwAAAAAAAAQAAAADAwAAAQAAABQAAAABBgAA
					mAIAAKQCAACwAgAApAIAAKQCAAAaAAAAAQEA
					AE5TVVJMRG9jdW1lbnRJZGVudGlmaWVyS2V5
					AAAEAAAAAwMAAAMAAAC0AAAA/v///wEAAAAw
					AgAADgAAAAQQAABQAAAAAAAAAAUQAACoAAAA
					AAAAABAQAADQAAAAAAAAAEAQAADAAAAAAAAA
					AAAgAAC8AgAAAAAAAAIgAAB8AQAAAAAAAAUg
					AADwAAAAAAAAABAgAAAgAAAAAAAAABEgAAAw
					AQAAAAAAABIgAAAQAQAAAAAAABMgAAAgAQAA
					AAAAACAgAABcAQAAAAAAABDQAAAEAAAAAAAA
					ANgCAID8AgAAAAAAAA==
					</data>
					<key>FileURL</key>
					<string>file:///Volumes/Backups/2025/cursor.txt</string>
					<key>HasSecurityScope</key>
					<true/>
					<key>TypeID</key>
					<string>_CFileLocator</string>
					<key>Version</key>
					<integer>1</integer>
				</dict>
				<key>Name</key>
				<string>cursor.txt</string>
				<key>URL</key>
				<string>file:///Volumes/Backups/2025/cursor.txt</string>
			</dict>
		</array>
	</dict>
	<key>RecentItemsPrefDataUpgradedForSandbox</key>
	<true/>
	<key>SULastCheckedDate</key>
	<date>2025-05-23T21:40:57Z</date>
	<key>SelectedColorSchemeName</key>
	<string>BBEdit Light</string>
	<key>SelectedColorSchemeNameDarkMode</key>
	<string>BBEdit Dark</string>
	<key>ShowLSPDiagnosticsInLineBar</key>
	<false/>
	<key>ShowTickMarksForInstancesOfSelectedText</key>
	<true/>
	<key>ShowTickMarksForLanguageDiagnostics</key>
	<false/>
	<key>ShowTickMarksForSpellingErrors</key>
	<false/>
	<key>SoftWrapIndentation</key>
	<integer>3</integer>
	<key>SoftWrapStyle</key>
	<integer>2</integer>
	<key>StartupAndResumeAction</key>
	<integer>1</integer>
	<key>StripTrailingWhitespace</key>
	<true/>
	<key>TextStatusBarShowDocumentLockState</key>
	<false/>
	<key>TextStatusBarShowMagnification</key>
	<false/>
	<key>TrimLeadingWhitespaceWhenAutoIndenting</key>
	<true/>
	<key>UseLineHeightHighlightingForInstancesOfSelectedText</key>
	<integer>1</integer>
	<key>UserDeclinedSandboxAccess</key>
	<true/>
	<key>~EEBB52B48DCB96F5634C86019AD52D40EA942284</key>
	<data>
	AwW3Lnguu519dONcNLA3X2ytM8eB85TPicKzNS2hgmOD4iSLs8B31fi9nrKP6/u4SoPL
	o0ha+OIN1KTyUkAkwA+AAryPbtgsaIBipj6f+jfO1Wa+98MT8Nc8ZDkzRFitQVH77GJT
	sw2a80L8igpkT1xL4nV5pBw/F0+ajAt7u4VFC5MPHFCKnz0h9J8gP7//leO2ShrzZ9mU
	iudAzS+q4GlhhKx5VNvfUdgtwzfGOEwiKdw7MjwO0owsd/rEib+kPaPWDjTBihH1QM4N
	nSAhtiz87+OoMj74XbFTGiM6hWticE5SUdxjNggiu/ylN4cB0/oOfSv85CxXBOiQk2IZ
	Fje4epfGbPX4I1YViVF1+tvLClMp3gutHBCdPMmFfIrSGk1PVdTA+1rcvnRrR0wkTMzR
	kpgrStmdxgbvzaM9Gr1CrhBLOYrnMQAiPiylWdFYmP6URXaaeXSLW3cKGFH4hmIYvqzc
	yFWBHX4rpJUPZCfWRJf3sSPePNd+QSFcyW011gABvwj2ae/g0/5ACp8Lp87XuSdFg3g2
	XcUoGsUIdC/KCMtF6Nmkr1mgUC0ajrY7CgzAF02T/9PLrN1psSiEYNNr1FGpG3OeaQAD
	A8p8qhAaMhlmhpoqm2KbCBLJqEqvL4/d+t/Cz9zGyJfbf2VhnZSOsxzXYPaeOqx4bAN0
	2OHOd9vD//oxEeO3LKfbpRW509HCwWyyCfe1vmkQX142jbrllJwSTw2xkvufB+oc1y34
	r41yw45ql6Ag+/Et1vUuMZdIf+S7mK+2MHU4gAvL31QPMAQbXyfc2LM4Bc9Y7Xc8CQ4c
	1JSE3NYLpRTmU7UjkX6513wncuSXzryDLywRr8wyIBsSji2vcVIBsIRMS9zad5VtgFR3
	/gLWQ13AEiU33JgDyoAHlAx/q+GXmaEW6fWruMRgvTBSdR+zFsvliIJd/ZdgOn52SSYR
	n8wTpsy0msOoMr06H3ngDQAABdYAABBKQht015xWF4iBsuWmTVODZaZN7z94AIqPZczN
	TnniAxtoSy+vj33zs9n8cLHNkHVuju9up8Uo/ldlgUofS24UZ6mfraddrO9UF1Je7TJZ
	WwDiarBrsUg+2dFUtSPOnZ9JD5gxs51ZYWpTiR6/zjsrahj3Lz66NkARx2/BcnicDWH3
	37kqgY5kXbDB2ZkJG4wP1RN6vnrKvmMvlwhINOKGciZbjq3amaSTHW7P6AsmcEyxmRI9
	GPD6E+tHlw1GDHHskdSlDwf1Xj6GSebpYFcEoIOmzc9qt+rTxHi+MjDimSKBOyEkLBxH
	jK53mkB3VoEwNEKmTGysdM4EPibl0PygxML9GGeGeZ8+G7vJgSfARyrJwP5TcX9/B47I
	zQXValnWM8nm4PlNdyRWT3wctqE4OEaBmckVO1wMWOd/bDNVh17EdZC+LH3Hvi9QvDGm
	hjjVxZu2r4nyn3YzqF41/IpVTq7rlaSnZq36OErcKGoZ8GkSK335KVfNQzzJHm8k661k
	zvaHRBfgxUEFSxtB61IMZD8IMdLGtMTFx/G3a47xA7v1m5tGM8uS9H+cC1TdtFC/qEnu
	8wldmjH88uscptGAlU9cpca4qYTpqWe++umoSQ9aDSmeXUczWqJZ+S2AKmEpVo8R4nkC
	kqgq3hlC/tanjDXPQt1zArrZsztYPWsDvNHojm0ibnzBdgiluJ7Iidcx5spj+RlXUZE4
	MFgtv9dErciGgDrfbB0RbN7ZABxcNaIngAv02ps9qPuT+g/HdQEP7OoPsod21s4Dc9Yg
	I9HxXYy37/37Ol6YryRLMGZW15cpnYDU6LIqqQdE3ADtby1rFUiqx0gKxvDU6Ie8LB+9
	vGvzp9wUXVVofxq3QADC5Gy6hFf9V5Jz9ZElH17v8dyJNICF3IG3y3Ml7Qp3ThtuIEVF
	k3/FK78NDeBk/vfk3TUCbf4hoyRvatdxRw6Y4O7hD1TcHK2Y1S23Yu2/8PHj+cbf5/JU
	eMdeZHmngfqeWnmw74tH
	</data>
</dict>
</plist>
